extends layout

block content
	//-takes a list of elements describing experience
	mixin work_hist(title,start,end,company,loc,desc)
		div.columns.is-multiline
			div.column.is-12
				b= title
				span= ", "+start+" to "+end
			div.column.is-12
				b= company
				span= " - "+loc
			div.column.is-12
				ul
					each i in desc
						li= i


	mixin section_header(title)
		div.columns
			div.column.has-text-centered
				hr
				h3.is-size-4= title
				hr
	
	mixin skills_list(skills)
		div.columns.px-5
			div.column
				ul.mycenter.left
					- let i = 0;
					while i < skills.length/2
						li.pad= skills[i]
						- console.log(i)
						- i += 1;
			div.column
				ul.mycenter.right
					while i < skills.length
						- console.log(i)
						li.pad= skills[i]
						- i += 1;

	div.about
		div.container
			div.columns.is-multiline
				div.column.has-text-centered
					h1.is-size-2 Jeffrey DeWitt
			div.columns
				div.column.has-text-centered
					ul
						li.inline Canton, OH
						li.inline.dot (440) 539-1862
						li.inline.dot jadewitt00@gmail.com
			//hr
			+section_header("Professional Summary")
			div.columns.px-2
				div.column
					span Talented Information Technology Professional with excellent customer service and 5+ years of Windows administration experience. Motivated to learn new skills and adapt to new technologies and environments. Effective and comfortable communicating with people of all skill levels.
			+section_header("Skills")
			-
				let my_skills = [
					"Customer Service",
					"Windows Administration",
					"Hyper-V Server Management",
					"G Suite Administration",
					"AWS",
					"PostgreSQL",
					"Javascript - Node, Express, Vue",
					"Python",
				]
			+skills_list(my_skills)
			+section_header("Work History")
			//-create a little form for summary, skills array, work history, then render a resume for it. Make all the HTML editable so they can adjust the content after render as well.
			- let tasks
			-
				tasks = [
					"Designed and built SaaS product for making electronic earnest money payments.",
					"Coded in Node and Express for backend.",
					"Front end coded in VueJS.",
					"Data stored using PostgreSQL.",
					"Hosted and maintained on AWS infrastructure.",
				]
			+work_hist("Full Stack Engineer","05/2020","Current","Easy Earnest","Canton, Ohio",tasks)
			-
				tasks = [
					"Provide technical support for 400+ agents and staff.",
					"Converted a fully physical server environment to a virtual environment.",
					"Use Connectwise Control to remotely support 20+ offices.",
					"Manage 80+ domain users through Active Directory and Group Policy.",
					"Perform maintenance and deploy computers for staff.",
					"Deployed MDT server for more efficient desktop deployment.",
					"Track inventory of all hardware and software licenses.",
					//"Write NodeJS script to interract with vendor API",
					"Work with outside vendors to provide business needs.",
					"Manage the IT budget and resource allocation.",
					//"Write Google App Scripts to interface with various APIs.",
					//"Write Python scripts to crawl company website and perform data conversions.",
				]
			+work_hist("System Administrator","10/2018","Current","Cutler Real Estate","Canton, Ohio",tasks)
			-
				tasks = [
					"Provided technical support for 400+ agents and staff.",
					//"Wrote Python scripts to crawl the company's website.",
					"Used LogMeIn Rescue to remotely support 20+ offices.",
					"Designed and deployed Happyfox ticketing system.",
					"Facilitated a conversion from Delta Mail to the G Suite product.	",
					"Manage 80+ domain users through Active Directory and Group Policy.",
					"Complete computer installs for staff computers.",
					"Track inventory of all hardware and software licenses."
				]
			+work_hist("IT Support Specialist","03/2017","10/2018","Cutler Real Estate","Canton, Ohio",tasks)
			-
				tasks = [
					"Provided technical, operation and training support for users.",
					"Completed computer refreshes for client computers.",
					"Tracked inventory of all hardware and software licenses.",
					"Ensured printers are working properly and performed basic maintenance.",
					"Assisted with bill coding and data entry.",
					"Created documentation for procedures and installs.",
					"Edited Active Directory and GPOs.",
					"Patched, tested, and installed Ethernet cable."
				]
			+work_hist("IT Customer Support Specialist","02/2016","02/2017","Insight for Living","Frisco, Texas",tasks)
			-
				tasks = [
					"Facilitated six high ropes challenge courses.",
					"Welcomed and trained guests to use equipment on courses.",
					"Assisted guests on courses.",
					"Inspected and maintained courses and equipment.",
					"Ensured customer safety."
				]
			//-push to next page...
			br
			br
			+work_hist("Course Monitor","02/2015","02/2017","Trinity Forest Adventure Park","Dallas, Texas",tasks)
			-
				tasks = [
					"Repaired cell phones and tablets.",
					"Ensured high level of customer satisfaction.",
					"De-escalated customer emotions in difficult situations.",
					"Provided service recovery as needed.",
					"Delivered quick diagnosis and solutions for customers.",
					"Managed inventory of accessories, screens and components.",
					"Reordered parts as necessary from vendors."
				]
			+work_hist("Store Manager","07/2015","02/2016","In & Out Smart Repair","Dallas, Texas",tasks)
			+section_header("Education")
			div.row.px-3
				div.col-12
					b Bachelor of Science:
					span  Computer Science, 05/2013
				div.col-12
					b Malone University
					span  - Canton, OH
